body {
	background:$background-color;
	border-top:60px solid $blue;
	margin:0;
}
.title {
	font-family: 'Oswald', sans-serif;
	font-size:50px;
	text-align:center;
	margin-left:-0.7em;

}	
.titleone {
		color:$blue;
	}	
.titletwo {
		color:$yellow;
}	
footer {
	background:$blue;
	width:100vw;
	font-family: 'Raleway', sans-serif;
	color:#fefef2;
	font-size:12px;
	margin-top:2em;
	padding:1em;
	margin-left:-1em;
	text-align:center;
}
//FLEXBOX GALLERY//
.wrapper {
	-webkit-display:flex;
	-moz-display:flex;
	-ms-display:flex;
	-o-display:flex; 
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
		.images1 {
		background:url(../images/beginagain1.png);
		width:80vw;
		height:20vh;
		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  		-webkit-filter: grayscale(100%);
  		-moz-filter: grayscale(100%);
  		-o-filter: grayscale(100%);
  		filter: grayscale;
  		margin:1em 0;
	}
	.images2 {
		background:url(../images/beginagain2.png);
		width:80vw;
		height:20vh;
		 -webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  		-webkit-filter: grayscale(100%);
  		-moz-filter: grayscale(100%);
  		-o-filter: grayscale(100%);
  		filter: grayscale;
  		margin:1em 0;
	}
	.images3 {
		background:url(../images/beginagain3.png);
		width:80vw;
		height:20vh;
		 -webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  		-webkit-filter: grayscale(100%);
  		-moz-filter: grayscale(100%);
  		-o-filter: grayscale(100%);
  		filter: grayscale;
  		margin:1em 0;
	}
	.images4 {
		background:url(../images/beginagain4.png);
		width:80vw;
		height:20vh;
		 -webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  		-webkit-filter: grayscale(100%);
  		-moz-filter: grayscale(100%);
  		-o-filter: grayscale(100%);
  		filter: grayscale;
  		margin:1em 0;
 
	}
	.images5 {
		background:url(../images/beginagain5.png);
		width:80vw;
		height:20vh;
		 -webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  		-webkit-filter: grayscale(100%);
  		-moz-filter: grayscale(100%);
  		-o-filter: grayscale(100%);
  		filter: grayscale;
  		margin:1em 0;
	}
	.images6 {
		background:url(../images/beginagain6.jpeg);
		width:80vw;
		height:20vh;
		 -webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  		-webkit-filter: grayscale(100%);
  		-moz-filter: grayscale(100%);
  		-o-filter: grayscale(100%);
  		filter: grayscale;
  		margin:1em 0;
	}
	.images7 {
		background:url(../images/beginagain7.png);
		width:80vw;
		height:20vh;
		 -webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  		-webkit-filter: grayscale(100%);
  		-moz-filter: grayscale(100%);
  		-o-filter: grayscale(100%);
  		filter: grayscale;
  		margin:1em 0;
	}
	.images8 {
		background:url(../images/beginagain8.jpg);
		width:80vw;
		height:20vh;
		 -webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  		-webkit-filter: grayscale(100%);
  		-moz-filter: grayscale(100%);
  		-o-filter: grayscale(100%);
  		filter: grayscale;
  		margin:1em 0;
	}
	.images9 {
		background:url(../images/beginagain9.png);
		width:80vw;
		height:20vh;
		 -webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  		-webkit-filter: grayscale(100%);
  		-moz-filter: grayscale(100%);
  		-o-filter: grayscale(100%);
  		filter: grayscale;
  		margin:1em 0;
	}
	.images10 {
		background:url(../images/beginagain10.png);
		width:80vw;
		height:20vh;
		 -webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  		-webkit-filter: grayscale(100%);
  		-moz-filter: grayscale(100%);
  		-o-filter: grayscale(100%);
  		filter: grayscale;
  		margin:1em 0; 
	}
	.images11 {
		background:url(../images/beginagain11.png);
		width:80vw;
		height:20vh;
		 -webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  		-webkit-filter: grayscale(100%);
  		-moz-filter: grayscale(100%);
  		-o-filter: grayscale(100%);
  		filter: grayscale;
  		margin:1em 0;
	}
	.images12 {
		background:url(../images/beginagain12.png);
		width:80vw;
		height:20vh;
		 -webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  		-webkit-filter: grayscale(100%);
  		-moz-filter: grayscale(100%);
  		-o-filter: grayscale(100%);
  		filter: grayscale;
  		margin:1em 0;
	}
	.images1:hover, .images2:hover, .images3:hover,  .images4:hover, .images5:hover, .images6:hover, .images7:hover, .images8:hover, .images9:hover, .images10:hover, .images11:hover, .images12:hover {
		-webkit-filter: grayscale(0);
  		-moz-filter: grayscale(0);
  		-o-filter: grayscale(0);
  		filter: grayscale;
	}
	.middle {
		order:1;
		-webkit-display:flex;
		-moz-display:flex;
		-ms-display:flex;
		-o-display:flex; 
		display:flex;
		flex-direction:column;
		.trailer {
			order:1;
			iframe {
				width:100%;
				border:3px dotted #ffcc01;
			} 
		}
		.middle2  {
			order:2;
		}
		.middle3 {
			order:3;
		}
	}
	.top, .bottom {
		order:2;
	}
}
@media screen and (min-width:600px){
	.trailer {
		iframe{
			height:50vh;
		}
	}
	.wrapper {
		.images1, .images2, .images3,  .images4, .images5, .images6, .images7, .images8, .images9, .images10, .images11, .images12 {
			height:50vh;
		}
	}
}

@media screen and (min-width:960px){
body {
	border:none;
}
.wrapper{
	width:100vw;
	.top {
		-webkit-display:flex;
		-moz-display:flex;
		-ms-display:flex;
		-o-display:flex; 
		display:flex;
		flex-direction:row;
		order:1;
		.images1, .images2, .images3, .images4 {
			width:25vw;
			height:25vh;
			margin:0;
		}
	}
	.middle {
		-webkit-display:flex;
		-moz-display:flex;
		-ms-display:flex;
		-o-display:flex; 
		display:flex;
		flex-direction:row;
		width:100vw;
		order:2;
		.middle2, .middle3 {
			.images5, .images6, .images7, .images8 {
				width:25vw;
				height:25vh;
				margin:0;
			}
			}
		.trailer {
			width:50vw;
			margin:0;
			height:25vh;
			order:2;
			iframe{
				border:none;
			}
		}	
		}
	.bottom {
		-webkit-display:flex;
		-moz-display:flex;
		-ms-display:flex;
		-o-display:flex; 
		display:flex;
		flex-direction:row;
		order:3;
		.images9, .images10, .images11, .images12 {
			width:25vw;
			height:25vh;
			margin:0;
		}
	}
}
.title {
	display:none;
}
footer {
	position:absolute;
	bottom:-1em;
	background:black;
}
}