.nav {
	font-family: 'Raleway', sans-serif;
	font-weight:700;
	width:80%;
	background:#5dbcd2;
	margin-left:0;
	position:absolute;
	top:30px;
	width:100%;
	ul {
		list-style:none;
		display:flex;
		flex-direction:column;
		flex-wrap:wrap;
		justify-content:space-between;
		margin-left:-2em;
		li {
			background:#fefef2;
			margin:1em 1em 1em 1em;
			padding:0.5em;
			text-align:center;
			a{
				text-decoration:none;
				color:black;
			}
			.active {
				color:$yellow;
			}
			a:hover {
				color:$yellow;
			}
		}
	}
}
#icon {
	background:$blue;
	position:fixed;
	top:0;
	width:100vw;
	span {
		width:30px;
		height:10px;
		background:white;
		color:white;

	}
}
#navigation {
	display:none;
}
@media screen and (min-width:600px) {
.nav {
	margin:1em 0 0 0;
	ul {
		flex-direction:row;
		justify-content:space-between;
		li {
			width:10%;
			padding:0.7em;
			margin:0.5em 0.5em;
		}
		}
	}
}
@media screen and (min-width:960px) {
	#icon {
		display:none;
	}
	#navigation {
	display:block;
	}
	.nav {
		background:black;
		width:100%;
		margin-top:-3em;
		margin-left:0;
		ul {
			padding:0 0.5em;
			width:100%;
			justify-content:space-between;
			li {
				background:black;
				font-size:20px;
				margin-left:1em;
				letter-spacing:5px;
				a{
				text-decoration:none;
				color:#5dbcd2;
			}
		}
	}
}
}