.pages {
	background:$background-color;
	.sidebar {
		position:absolute;
		left:-999em;
	}
}
h2 {
	color:$blue;
	font-size:50px;
	font-family:"Raleway", sans-serif;
}
h3 {
	font-family:"Raleway", sans-serif;	
}
 p {
 	font-family:"Raleway", sans-serif;	
 }
@media screen and (min-width:960px) {
.pages {
	position:fixed;
	width:100%;
	footer {
		position:relative;
		bottom:0;
		background:$blue;
	}
	.sidebar {
		position:fixed;
		left:25px;
		font-family:"Raleway", sans-serif;
		color:black;	
		list-style:none;
		font-size:30px;
	}
	.nav {
		background:$blue;
		position:fixed;
		z-index:1;
		top:1;
		ul {
		li {
			background:$blue;
			padding-bottom:0.5em;
			padding-left:0;
			a {
				color:$background-color;
			}
			a:hover {
				color:$yellow;
			}
			.active {
				color:$yellow;
			}
	}
	}	
}
}
}

@media screen and (min-width:1200px) {
.pages {	
	.sidebar {
		left:25px;
	}
}
}

@media screen and (min-width:1500px) {
.pages {	
	.sidebar {
		left:70px;
	}
}
}