/* line 1, ../../src/sass/_layout.scss */
body {
  background: #fefef2;
  border-top: 20px solid #5dbcd2;
  margin: 0;
}

/* line 6, ../../src/sass/_layout.scss */
.wrapper {
  margin: 0 auto;
  width: 88%;
  max-width: 960px;
}

/* line 11, ../../src/sass/_layout.scss */
.title {
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  text-align: center;
  margin-left: -0.7em;
}

/* line 18, ../../src/sass/_layout.scss */
.titleone {
  color: #5dbcd2;
}

/* line 21, ../../src/sass/_layout.scss */
.titletwo {
  color: #ffcc01;
}

/* line 25, ../../src/sass/_layout.scss */
.gallery img {
  width: 88%;
  margin: 0 auto;
}

/* line 30, ../../src/sass/_layout.scss */
.trailer {
  width: 88%;
  margin: 1em 0;
}
/* line 33, ../../src/sass/_layout.scss */
.trailer iframe {
  width: 100%;
  height: 50vh;
  border: 3px dotted #ffcc01;
}

/* line 39, ../../src/sass/_layout.scss */
footer {
  background: #5dbcd2;
  width: 100vw;
  font-family: 'Raleway', sans-serif;
  color: #fefef2;
  font-size: 12px;
  margin-top: 2em;
  padding: 1em;
  margin-left: -1em;
  text-align: center;
}

@media screen and (min-width: 960px) {
  /* line 52, ../../src/sass/_layout.scss */
  body {
    background: url(../images/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: none;
  }

  /* line 60, ../../src/sass/_layout.scss */
  .title, .gallery {
    display: none;
  }

  /* line 63, ../../src/sass/_layout.scss */
  .trailer {
    margin-top: 3em;
    margin-left: 3em;
  }
  /* line 66, ../../src/sass/_layout.scss */
  .trailer iframe {
    height: 70vh;
    width: 70vw;
  }

  /* line 71, ../../src/sass/_layout.scss */
  footer {
    position: absolute;
    bottom: 0;
    background: black;
  }
}
@media screen and (min-width: 1300px) {
  /* line 78, ../../src/sass/_layout.scss */
  .trailer {
    margin-left: 6em;
  }
  /* line 80, ../../src/sass/_layout.scss */
  .trailer iframe {
    width: 50vw;
  }
}
/* line 1, ../../src/sass/_navigation.scss */
.nav {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  width: 80%;
  background: #5dbcd2;
  margin-left: 1.5em;
}
/* line 7, ../../src/sass/_navigation.scss */
.nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -2em;
}
/* line 14, ../../src/sass/_navigation.scss */
.nav ul li {
  background: #fefef2;
  margin: 1em 1em 1em 1em;
  padding: 0.5em;
  text-align: center;
}
/* line 19, ../../src/sass/_navigation.scss */
.nav ul li a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 600px) {
  /* line 28, ../../src/sass/_navigation.scss */
  .nav {
    margin: 0 2.5em;
  }
  /* line 30, ../../src/sass/_navigation.scss */
  .nav ul {
    flex-direction: row;
    justify-content: space-between;
  }
  /* line 33, ../../src/sass/_navigation.scss */
  .nav ul li {
    width: 10%;
    padding: 0.7em;
    margin: 0.5em 0.5em;
  }
}
@media screen and (min-width: 960px) {
  /* line 42, ../../src/sass/_navigation.scss */
  .nav {
    background: black;
    width: 100%;
    margin-top: -1em;
    margin-left: 0;
  }
  /* line 47, ../../src/sass/_navigation.scss */
  .nav ul {
    padding: 0 0.5em;
    width: 100%;
    justify-content: space-between;
  }
  /* line 51, ../../src/sass/_navigation.scss */
  .nav ul li {
    background: black;
    font-size: 20px;
    margin-left: 1em;
    letter-spacing: 5px;
  }
  /* line 56, ../../src/sass/_navigation.scss */
  .nav ul li a {
    text-decoration: none;
    color: #5dbcd2;
  }
}
/* line 1, ../../src/sass/_pages.scss */
.pages {
  background: #fefef2;
}
/* line 3, ../../src/sass/_pages.scss */
.pages .sidebar {
  position: absolute;
  left: -999em;
}

/* line 8, ../../src/sass/_pages.scss */
h2 {
  color: #5dbcd2;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
}

/* line 13, ../../src/sass/_pages.scss */
h3 {
  font-family: "Raleway", sans-serif;
}

/* line 16, ../../src/sass/_pages.scss */
p {
  font-family: "Raleway", sans-serif;
}

@media screen and (min-width: 960px) {
  /* line 20, ../../src/sass/_pages.scss */
  .pages {
    position: fixed;
    width: 100%;
  }
  /* line 23, ../../src/sass/_pages.scss */
  .pages .sidebar {
    position: fixed;
    left: 0;
    font-family: "Raleway", sans-serif;
    color: black;
    list-style: none;
    font-size: 30px;
    text-align: right;
    line-height: 70px;
  }
  /* line 33, ../../src/sass/_pages.scss */
  .pages .nav {
    background: #5dbcd2;
    position: fixed;
    z-index: 1;
    top: 0;
  }
  /* line 39, ../../src/sass/_pages.scss */
  .pages .nav ul li {
    background: #5dbcd2;
    padding-bottom: 0;
  }
  /* line 42, ../../src/sass/_pages.scss */
  .pages .nav ul li a {
    color: #fefef2;
  }
}
@media screen and (min-width: 1200px) {
  /* line 53, ../../src/sass/_pages.scss */
  .pages .sidebar {
    left: 25px;
  }
}
@media screen and (min-width: 1500px) {
  /* line 61, ../../src/sass/_pages.scss */
  .pages .sidebar {
    left: 70px;
  }
}
/* line 1, ../../src/sass/_cast.scss */
.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 88%;
  justify-content: space-between;
}
/* line 7, ../../src/sass/_cast.scss */
.content #keira, .content #mark, .content #james, .content #adam, .content #hailee {
  margin-bottom: 1em;
}
/* line 9, ../../src/sass/_cast.scss */
.content #keira p, .content #mark p, .content #james p, .content #adam p, .content #hailee p {
  line-height: 20px;
}
/* line 12, ../../src/sass/_cast.scss */
.content #keira img, .content #mark img, .content #james img, .content #adam img, .content #hailee img {
  border: solid 10px #ffcc01;
}

@media screen and (min-width: 600px) {
  /* line 19, ../../src/sass/_cast.scss */
  .content #keira, .content #mark, .content #james, .content #adam, .content #hailee {
    display: flex;
    flex-direction: row;
  }
  /* line 22, ../../src/sass/_cast.scss */
  .content #keira .img, .content #mark .img, .content #james .img, .content #adam .img, .content #hailee .img {
    width: 40%;
    padding-right: 1em;
  }
  /* line 26, ../../src/sass/_cast.scss */
  .content #keira .info, .content #mark .info, .content #james .info, .content #adam .info, .content #hailee .info {
    width: 40%;
    padding-left: 4em;
    margin-top: -1em;
  }
}
@media screen and (min-width: 960px) {
  /* line 35, ../../src/sass/_cast.scss */
  .pages {
    position: absolute;
    width: 100%;
    background: #fefef2;
  }
  /* line 39, ../../src/sass/_cast.scss */
  .pages .content {
    width: 100%;
    padding-top: 5em;
  }
  /* line 42, ../../src/sass/_cast.scss */
  .pages .content .pagetitle {
    position: fixed;
    border-right: 20px solid #5dbcd2;
    padding-bottom: 999em;
    top: 0;
    width: 15%;
    padding-left: 3em;
  }
  /* line 49, ../../src/sass/_cast.scss */
  .pages .content .pagetitle h2 {
    padding-top: 1.5em;
    padding-right: 1em;
  }
  /* line 55, ../../src/sass/_cast.scss */
  .pages .content #keira, .pages .content #mark, .pages .content #james, .pages .content #adam, .pages .content #hailee {
    justify-content: flex-end;
    padding-top: 8em;
    margin-left: 8em;
    padding-bottom: 5em;
  }
  /* line 60, ../../src/sass/_cast.scss */
  .pages .content #keira .info, .pages .content #mark .info, .pages .content #james .info, .pages .content #adam .info, .pages .content #hailee .info {
    padding-left: -3em;
    margin-right: 3em;
    order: 1;
    width: 30%;
  }
  /* line 66, ../../src/sass/_cast.scss */
  .pages .content #keira .img, .pages .content #mark .img, .pages .content #james .img, .pages .content #adam .img, .pages .content #hailee .img {
    order: 2;
  }
}
/* line 1, ../../src/sass/_music.scss */
.content {
  width: 88%;
  margin: 3em;
}
/* line 4, ../../src/sass/_music.scss */
.content audio {
  width: 100%;
}
/* line 9, ../../src/sass/_music.scss */
.content .pagetitle a img {
  width: 88%;
  height: auto;
  margin-bottom: 1em;
  border: 3px solid #ffcc01;
}
/* line 17, ../../src/sass/_music.scss */
.content .av {
  width: 88%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* line 22, ../../src/sass/_music.scss */
.content .av .item {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
}
/* line 26, ../../src/sass/_music.scss */
.content .av .item label {
  font-family: 'Raleway', sans-serif;
}

@media screen and (min-width: 960px) {
  /* line 33, ../../src/sass/_music.scss */
  .pages {
    position: absolute;
    width: 100%;
  }
  /* line 36, ../../src/sass/_music.scss */
  .pages .pagetitle {
    padding-right: 1em;
  }
  /* line 39, ../../src/sass/_music.scss */
  .pages .av {
    padding-left: 25em;
  }
  /* line 41, ../../src/sass/_music.scss */
  .pages .av .item {
    width: 60%;
  }
}
@media screen and (min-width: 600px) {
  /* line 5, ../../src/sass/_videos.scss */
  .content .pagetitle .sidebar {
    font-size: 30px;
  }
  /* line 11, ../../src/sass/_videos.scss */
  .content .av .item iframe {
    width: 100%;
    height: 500px;
    border: 3px solid #ffcc01;
    margin-top: 1em;
  }
  /* line 17, ../../src/sass/_videos.scss */
  .content .av .item label {
    font-size: 25px;
  }
}
@media screen and (min-width: 960px) {
  /* line 28, ../../src/sass/_videos.scss */
  .content #tellmevideo, .content #loststarsvideo, .content #authenticityvideo, .content #interviewvideo {
    padding-top: 7em;
    padding-left: 2em;
  }
  /* line 33, ../../src/sass/_videos.scss */
  .content .pagetitle .video {
    font-size: 20px;
    width: 17%;
    line-height: 50px;
  }
  /* line 37, ../../src/sass/_videos.scss */
  .content .pagetitle .video li {
    padding-bottom: 3em;
    margin-bottom: 1em;
    padding-right: 1em;
  }
}
@media screen and (min-width: 1500px) {
  /* line 50, ../../src/sass/_videos.scss */
  .content .pagetitle .video {
    width: 15%;
  }
}
/* line 3, ../../src/sass/_buy.scss */
.av .item a {
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 20px;
}
/* line 7, ../../src/sass/_buy.scss */
.av .item a img {
  width: 88%;
  border: 3px #ffcc01 solid;
}
/* line 11, ../../src/sass/_buy.scss */
.av .item a span {
  padding: 1em;
}
